/*Yahoo reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
ol,ul {
    list-style: none;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
@font-face {
    font-family: GothamRoundedBold;
    src: url(../fonts/GothamRoundedBold.ttf);
}
@font-face {
    font-family: GothamRoundedLight;
    src: url(../fonts/GothamRoundedLight.ttf);
}
@font-face {
    font-family: GothamRoundedBook;
    src: url(../fonts/GothamRoundedBook.ttf);
}

body{
    height:3545px;
    width:1280px;
}
header{
    background:url(../images/livello.jpg);
    height:745px;
    overflow: hidden;
 }
ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/

}
li {
    display: inline-block;
    color:#ffffff;
    font-size:11pt;
    font-family: "GothamRoundedBold";
    font-weight: bold;
    letter-spacing: 3px;
}

nav{
    overflow: hidden;
    position: relative;
    height:200px;
}

.photoapp, .home, .design, .download{
    position: absolute;
    top:71px;
}
.photoapp{
    left:396px;
}
.home{
    left:273px;
}
.camera{
    position: absolute;
    top:40px;
    left:606px;
}
.design{
    left:759px;
}
.download{
    left:913px;
}
.mainSign{
    font-family: "GothamRoundedBold";
    color:#ffffff;
    height:300px;
}
.yourLife{
    font-size: 26pt;
    font-weight: bold;
    letter-spacing: 6px;
    position: absolute;
    left: 390px;
    top: 336px;
}
.printLife{
    font-family: "GothamRoundedLight";
    font-size: 11.5pt;
    position: absolute;
    letter-spacing: 3px;
    top:385px;
    left: 474px;
}
.getStarted{
    position: absolute;
    font-family: "GothamRoundedLight";
    color:#ffffff;
    left:558px;
    top:428px;
    background-color: #16a085;
    height:50px;
    width:166px;
    border-radius: 5px;
    border: 0px;
    letter-spacing: 2px;
    font-size: 9pt;
}
.dribble{
    position: absolute;
    left: 669px;
    top:699px;
}
.flickr{
    position: absolute;
    left: 630px;
    top:699px;
}
.twitter{
    position: absolute;
    left: 591px;
    top:699px;
}

.second{
     background:url(../images/second.jpg);
     height:494px;
     overflow: hidden;
    position: relative;
 }

.presentLife, .textForPresentLife, .buttonForPresentLife, .iphone2{
    position: absolute;
    left: 128px;
}
.presentLife{
    top:113px;
    font-family: "GothamRoundedBold";
    color: #16a085;
    letter-spacing: 3px;
    font-size: 14pt;
    width:383px;
}
.textForPresentLife{
    top:197px;
    width: 400px;
    font-family: "Gotham Rounded Book";
    letter-spacing: 1px;
    color: #373737;
}

.buttonForPresentLife{
    border-radius: 5px;
    border: 0px;
    font-family: "GothamRoundedBold";
    background-color: #16a085;
    height:50px;
    width:166px;
    top: 351px;
    color: #ffffff;
}
.iphone2{
    left:511px;
}
.third{
    background:url(../images/third.jpg);
    height:558px;
    overflow: hidden;
    position: relative;
}
.thirdDesign, .buttonForDesign, .textForDesign, .thirdDate, .thirdAngles , .leftAngle, .rightAngle{
    left:767px;
    position: absolute;
}
.thirdDesign{
    font-family: "GothamRoundedBold";
    color: #16a085;
    letter-spacing: 3px;
    font-size: 14pt;
    top: 150px;
}
.textForDesign{
    top:204px;
    width:403px;
    font-family: "Gotham Rounded Book";
    letter-spacing: 1px;
    color: #373737;
}
.buttonForDesign{
    border: 0px;
    font-family: "GothamRoundedBold";
    background-color: #16a085;
    color: #ffffff;
    top:345px;
}
.iphone3{
    position: absolute;
    left: 136px;
    top: 157px;
}
.thirdDate{
    top: 441px;
    left: 767px;
}

.leftAngle{
    top:460px;
    left:767px;
}
.rightAngle{
    top:460px;
    left: 799px;
}

.fourth{
    background:url(../images/fourth.png);
    height:483px;
    overflow: hidden;
    position: relative;
}





