/*Yahoo reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
ol,ul {
    list-style: none;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
@font-face {
    font-family: GothamRoundedBold;
    src: url(http://:/) format("No-IE-404"), url(../fonts/GothamRoundedBold.eot);
    src: url(http://:/) format("No-IE-404"), url(../fonts/GothamRoundedBold.eot) format("embedded-opentype"),
    url(http://:/) format("No-IE-404"), url(../fonts/GothamRoundedBold.woff) format("woff"),
    url(http://:/) format("No-IE-404"), url(../fonts/GothamRoundedBold.ttf) format("truetype");
}
@font-face {
    font-family: GothamRoundedLight;
    src: url(../fonts/GothamRoundedLight.eot);
    src: url(../fonts/GothamRoundedLight.eot?#iefix)format("embedded-opentype"),
    url(../fonts/GothamRoundedLight.woff) format("woff"),
    url(../fonts/GothamRoundedLight.ttf) format("truetype");
}
@font-face {
    font-family: GothamRoundedBook;
    src: url(../fonts/GothamRoundedBook.eot);
    src: url(../fonts/GothamRoundedBook.eot?#iefix)format("embedded-opentype"),
    url(../fonts/GothamRoundedBook.woff) format("woff"),
    url(../fonts/GothamRoundedBook.ttf) format("truetype");
}
@font-face {
    font-family: GothamRoundedMedium;
    src: url(../fonts/GothamRoundedMedium.eot);
    src: url(../fonts/GothamRoundedMedium.eot?#iefix)format("embedded-opentype"),
    url(../fonts/GothamRoundedMedium.woff) format("woff"),
    url(../fonts/GothamRoundedMedium.ttf) format("truetype");
}

body{
    height:3545px;
    width:1280px;
}
header{
    background:url(../images/livello.jpg);
    height:745px;
    overflow: hidden;
 }
ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/

}
li {
    display: inline-block;
    /*color:#ffffff;*/
    /*font-size:11pt;*/
    /*font-family: "GothamRoundedBold";*/
    /*font-weight: bold;*/
    /*letter-spacing: 3px;*/
}

nav{
    overflow: hidden;
    position: relative;
    height:200px;
}

.photoapp, .home, .design, .download{
    position: absolute;
    top:71px;
    color:#ffffff;
    font-size:11pt;
    font-family: "GothamRoundedBold";
    font-weight: bold;
    letter-spacing: 3px;
}
.photoapp{
    left:396px;
}
.home{
    left:273px;
}
.camera{
    position: absolute;
    top:40px;
    left:606px;
}
.design{
    left:759px;
}
.download{
    left:913px;
}
.mainSign{
    font-family: "GothamRoundedBold";
    color:#ffffff;
    height:300px;
}
.yourLife{
    font-size: 26pt;
    font-weight: bold;
    letter-spacing: 6px;
    position: absolute;
    left: 392px;
    top: 334px;
}
.printLife{
    font-family: "GothamRoundedLight";
    font-size: 11.5pt;
    position: absolute;
    letter-spacing: 3px;
    top:385px;
    left: 474px;
}
.getStarted{
    position: absolute;
    font-family: "GothamRoundedLight";
    color:#ffffff;
    left:558px;
    top:428px;
    background-color: #16a085;
    height:50px;
    width:166px;
    border-radius: 5px;
    border: 0px;
    letter-spacing: 2px;
    font-size: 9pt;
}
.dribble{
    position: absolute;
    left: 669px;
    top:699px;
}
.flickr{
    position: absolute;
    left: 630px;
    top:699px;
}
.twitter{
    position: absolute;
    left: 591px;
    top:699px;
}

.second{
     background:url(../images/second.jpg);
     height:494px;
     overflow: hidden;
    position: relative;
 }

.presentLife, .textForPresentLife, .buttonForPresentLife, .iphone2{
    position: absolute;
    left: 128px;
}
.presentLife{
    top:109px;
    font-family: "GothamRoundedBold";
    color: #16a085;
    letter-spacing: 3.2px;
    font-size: 13pt;
    width:400px;
}
.textForPresentLife{
    top:191px;
    width: 460px;
    font-family: "GothamRoundedBook";
    letter-spacing: 1.8px;
    color: #373737;
    line-height: 2;
    font-size: 9pt;
}

.buttonForPresentLife{
    border-radius: 5px;
    border: 0px;
    font-family: "GothamRoundedBold";
    background-color: #16a085;
    height:50px;
    width:192px;
    top: 351px;
    color: #ffffff;
    font-size: 9pt;
    letter-spacing: 2px;
    padding-top: 5px;
}
.iphone2{
    left:510px;
    top: 92px;
}
.third{
    background:url(../images/third.jpg);
    height:558px;
    overflow: hidden;
    position: relative;
}
.thirdDesign, .buttonForDesign, .textForDesign, .thirdDate, .thirdAngles , .leftAngle, .rightAngle{
    left:767px;
    position: absolute;
}
.thirdDesign{
    font-family: "GothamRoundedBold";
    color: #16a085;
    letter-spacing: 3px;
    font-size: 13pt;
    top: 140px;
}
.textForDesign{
    top:196px;
    width:440px;
    /*font-family: "GothamRoundedBook";*/
    /*letter-spacing: 2px;*/
    /*color: #373737;*/
    /*line-height: 1.5;*/
    /*font-size: 11pt;*/
    font-family: "GothamRoundedBook";
    letter-spacing: 2.2px;
    color: #373737;
    line-height: 2;
    font-size: 8.5pt;
}
.buttonForDesign{
    border: 0px;
    font-family: "GothamRoundedBold";
    background-color: #16a085;
    color: #ffffff;
    top:345px;
    height:50px;
    width:192px;
    font-size: 8pt;
    letter-spacing: 3px;
}
.iphone3{
    position: absolute;
    left: 125px;
    top: 145px;}

.thirdDate{
    top: 437px;
    font-family: "GothamRoundedBold";
    font-size: 9pt;
    color: #373737;
    letter-spacing: 2px;
}

.leftAngle{
    top:458px;
    left:767px;
}
.rightAngle{
    top:458px;
    left: 799px;
}

.fourth{
    background:url(../images/fourth.png);
    height:483px;
    overflow: hidden;
    position: relative;
}
.fourthCamera, .title4, .text4, .car4, .fall4, .angle4left, .angle4right{
    position: absolute;
}

.fourthCamera{
    top: 163px;
    left: 187px;
}
.car4{
    left:386px;
    top:121px;
}
.fall4{
    left:780px;
    top:121px;
}
.title4{
    left:130px;
    top:247px;
    font-family: "GothamRoundedBold";
    font-size: 12pt;
    color: #373737;
    letter-spacing: 2px;
}
.text4{
    left: 144px;
    top:285px;
    width: 150px;
    font-family: "GothamRoundedMedium";
    font-size: 7pt;
    color: #373737;
    letter-spacing: 2px;
    line-height: 1.2;
    text-align: center;
}
.angle4left{
    left:1113px;
    top: 95px;
}
.angle4right{
    left: 1140px;
    top:95px;
}
.fifth{
    background:url(../images/fifth.png);
    height:790px;
    overflow: hidden;
    position: relative;
}
.title5, .inputGroup5{
    position: absolute;
}
.title5{
    left:402px;
    top:346px;
    color: #ffffff;
    font-size: 18.7pt;
    letter-spacing: 3px;
    font-family: "GothamRoundedBold";
}
.inputGroup5{
    width:360px;
    height:100px;
    left: 467px;
    top:404px;
    position: relative;
}
.input5{
    height:60px;
    width:280px;
    position: absolute;
    border:0;
    border-radius: 6px 0 0 6px;
}
.input5::-webkit-input-placeholder {
    font-family: "GothamRoundedMedium";
    font-size: 12pt;
    color: #373737;
    letter-spacing: 2px;
    padding-left:23px;
}
.input5:-moz-placeholder {
    font-family: "GothamRoundedMedium";
    font-size: 12pt;
    color: #373737;
    letter-spacing: 2px;
    padding-left:23px;
}
.button5{
    height:60px;
    width:63px;
    background-color: #16a085;
    position: absolute;
    left:280px;
    border-radius: 0 6px 6px 0;
    border: 0;
}
.sixth{
    background:url(../images/sixth.png);
    height:396px;
    overflow: hidden;
    position: relative;
}
.text6, .title6, .appleStore6, .playStore6{
    position: absolute;
}
.title6{
    left:547px;
    top:86px;
    color: #373737;
    font-size: 15pt;
    letter-spacing: 3px;
    font-family: "GothamRoundedBold";
}
.text6{
    left:215px;
    top:117px;
    width:850px;
    line-height: 1.8;
    font-size: 9pt;
    letter-spacing: 1.8px;
    font-family: "GothamRoundedMedium";
    text-align: center;
}
.appleStore6{
    left:329px;
    top:223px;
    width:300px;
    heigth:80px;
    position: relative;
}
.input6Apple{
    background-color: #1abc9c;
    border: 0;
    border-radius: 5px 0 0 5px;
    height: 56px;
    width: 240px;
    position: absolute;
}

.input6Apple::-webkit-input-placeholder {
      font-family: "GothamRoundedBold";
      font-size: 12pt;
      color: #ffffff;
      letter-spacing: 2px;
      padding-left:26px;
  }
.input6Apple:-moz-placeholder {
    font-family: "GothamRoundedBold";
    font-size: 12pt;
    color: #ffffff;
    letter-spacing: 2px;
    padding-left:26px;
}
.button6Apple{
    border-radius: 0 5px 5px 0;
    background-color: #16a085;
    height: 56px;
    width:56px;
    position: absolute;
    left:240px;
    border:0;
}

.playStore6{
    left:653px;
    top:223px;
    width:240px;
    heigth:100px;
}
.input6Play{
    background-color: #1abc9c;
    border: 0;
    border-radius: 5px 0 0 5px;
    height: 56px;
    width: 240px;
    position: absolute;
}
.button6Play{
    border-radius: 0 5px 5px 0;
    background-color: #16a085;
    height: 56px;
    width:56px;
    position: absolute;
    left:240px;
    border:0;
}
.input6Play::-webkit-input-placeholder {
    font-family: "GothamRoundedBold";
    font-size: 13pt;
    color: #ffffff;
    letter-spacing: 3px;
    padding-left: 29px;
}
.input6Play:-moz-placeholder {
    font-family: "GothamRoundedBold";
    font-size: 13pt;
    color: #ffffff;
    letter-spacing: 3px;
    padding-left: 29px;
}
footer{
    position: relative;
    height: 132px;
}
.footerList{
    position: absolute;
    left:126px;
    top:42px;
    font-family: "GothamRoundedBold";
    font-size: 10pt;
    color: #373737;
    letter-spacing: 2.5px;
}
.footerCamera{
    position: absolute;
    left:1095px;
    top: 35px;
}
.copyright{
    top: 77px;
    position: absolute;
    left:125px;
    font-family: "GothamRoundedBold";
    font-size: 10pt;
    color: #373737;
    letter-spacing: 2.5px;
}
.vLine{
    color: #16a085;
}






